# ==================== APP ====================
NODE_ENV=development

# ==================== API ====================
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000

# ==================== INTERNAL API ====================
API_BASE_URL=http://backend:8000

# ==================== OPENAPI ====================
OPENAPI_OUTPUT_FILE=./shared-data/openapi.json

# ==================== SUPABASE ====================
NEXT_PUBLIC_SUPABASE_URL=

NEXT_PUBLIC_SUPABASE_ANON_KEY=

# ==================== FEATURES ====================
NEXT_PUBLIC_ENABLE_ANALYTICS=false
NEXT_PUBLIC_ENABLE_MOCK_DATA=false